.locked {
  position: relative;
}

.locked:after {
  z-index: 0;
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
}

.btn{
  width: 100%;
}
